.DS_Store
node_modules
/frontend/.svelte-kit
/frontend/package
/frontend/dist
stats.html
masters
scripts
.log
frontend/static/assets
frontend/static/leaders
frontend/static/logos
frontend/static/sprites
frontend/static/graves
frontend/static/audio
